<?xml version='1.0' encoding='utf-8'?>
<robot name="2025_3v3_RMNA_V1p1_flattened">
    <link name="Component1089">
        <!-- <inertial>
            <origin xyz="0.0016241409325839326 0.0015972261538056843 0.1290511592619419" rpy="0.0 0.0 0.0" />
            <mass value="26451.453858748202" />
            <inertia ixx="373841.7980343458" iyy="213090.86666578992" izz="585469.6653854976"
        ixy="-55230.58193899161" iyz="0.66506661354419" ixz="1.3284696231883828" />
        </inertial> -->
        <visual name="Component1089_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="meshes/Component1089.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- <collision name="Component1089_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="meshes/Component1089.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision> -->
    </link>
</robot>