<?xml version='1.0' encoding='utf-8'?>
<robot name="2025_3v3_RMNA_V1p1_flattened">
    <link name="Component1089">
        <visual name="Component1089_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="meshes/Component1089.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
</robot>