<?xml version="1.0"?>
<robot name="arena">
    <link name="base_link">
        <contact>
            <lateral_friction value="1" />
        </contact>
        <visual>
            <geometry>
                <mesh filename="package://arena/meshes/arena.STL" scale="1 1 1" />
            </geometry>
            <material name="light_grey">
                <color rgba="0.98 0.98 0.98 1" />
            </material>
        </visual>
        <!-- <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh filename="package://arena/meshes/arena_vhacd.obj" scale="1 1 1" />
            </geometry>
        </collision> -->
    </link>
</robot>